<!-- <p>herosection works!</p> -->
<div class="herosection">
    <div class="centered">
      <h1>Leading <span>Doctors</span></h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut alias saepe
        enim cumque necessitatibus maiores, illum laborum. Laboriosam a
        voluptates, ipsam vel sunt asperiores, illum placeat accusantium culpa
        consequatur atque ab quam repellendus, odit sit?
      </p>
      <button mat-flat-button color="primary" class="btnclass">Book An Appointment </button>
    </div>
  </div>
  